# Robust Scaler
Robust Scaler are robust to outliers.It is used to scale the feature to median and quantiles Scaling using median and quantiles consists of substracting the median to all the observations, and then dividing by the interquantile difference. The interquantile difference is the difference between the 75th and 25th quantile:
IQR = 75th quantile - 25th quantile
X_scaled = (X - X.median) / IQR
0,1,2,3,4,5,6,7,8,9,10
9-90 percentile---90% of all values in this group is less than 9 1-10 precentile---10% of all values in this group is less than 1 4-40%

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('titanic.csv',usecols=['Age','Fare','Survived','Pclass'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
### fillnan
df['Age']=df['Age'].fillna(df['Age'].median())

In [5]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [6]:
from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
df_robust=scaler.fit_transform(df)

In [7]:
df_robust

array([[ 0.        ,  0.        , -0.46153846, -0.3120106 ],
       [ 1.        , -2.        ,  0.76923077,  2.46124229],
       [ 1.        ,  0.        , -0.15384615, -0.28277666],
       ...,
       [ 0.        ,  0.        ,  0.        ,  0.38960398],
       [ 1.        , -2.        , -0.15384615,  0.67328148],
       [ 0.        ,  0.        ,  0.30769231, -0.29035583]])

In [8]:
df_scaled=pd.DataFrame(df_robust)

In [10]:
df_scaled.head()

     0    1         2         3
0  0.0  0.0 -0.461538 -0.312011
1  1.0 -2.0  0.769231  2.461242
2  1.0  0.0 -0.153846 -0.282777
3  1.0 -2.0  0.538462  1.673732
4  0.0  0.0  0.538462 -0.277363